name: GitHub-Readme-Stats
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Stats
        uses: anuraghazra/github-readme-stats@master
        with:
          gh_token: ${{ secrets.GH_PAT }}
          show_icons: true
          theme: radical
          count_private: true
